/* --------------------------------
        Geral - Bate-papo
-------------------------------- */

.papo-container {
    width: 80%;
    max-width: 1170px;
    height: auto;
    margin: 90px auto 30px;
}

.card-papo {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
}

.container, 
.col-md-4,
.col-md-8,
.col-sm-1,
.col-sm-10 {
    padding: 0;
}

.row {
    margin: 0;
}

img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

small {
    font-size: 1.2rem;
    color: #4c4f66;
}

.form-control {
    color: #282A36;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

/* --------------------início_do_Grupo_Pesquisar--------------------- */

#pesquisar {
    width: 90%;
    max-width: 370px;
    padding: 1rem 2rem;
}

#pesquisar .media {
    margin-bottom: 10px;
}

#pesquisar .media h4 {
    align-self: center;
    margin-left: 10px;
}

#pesquisar input {
    height: 35px;
    font-size: 1.2rem;
}

/* --------------------fim_do_Grupo_Pesquisar--------------------- */

/* --------------------início_do_Grupo_Msg_Antigas--------------------- */

#msg-antigas {
    width: 90%;
    max-width: 370px;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 30px;
}

#msg-antigas .media {
    box-shadow: 0 4px 6px -6px #999999;
    padding: 1rem 0;
}

#msg-antigas .media-body {
    margin-left: 10px;
    align-self: center;
}

#msg-antigas .scroll {
    height: 630px;
    overflow-y: scroll;
}

/* --------------------fim_do_Grupo_Msg_Antigas--------------------- */

/* --------------------início_do_Grupo_Conversa--------------------- */

#conversa {
    width: 100%;
    max-width: 770px;
    padding: 15px 15px 15px 25px;
}

#conversa .media.header {
    box-shadow: 0 4px 6px -6px #999999;
    padding-bottom: 10px;
}

#conversa .media.header h5 {
    margin-left: 20px;
    align-self: center;
}

/* --------------------------------
        Card - Conversas
-------------------------------- */

#conversa .scroll {
    padding-right: 10px;
    margin-top: 10px;
    height: 650px;
    overflow-y: scroll;
    box-shadow: 0 4px 6px -6px #999999;
}

#conversa small {
    color: #999999;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

#conversa .user.card-papo {
    max-width: 500px;
    padding: 10px 20px;
    margin: 0 0 30px auto;
}

#conversa .media img {
    align-self: center;
}

#conversa .card-papo {
    max-width: 500px;
    margin-left: 15px;
    padding: 10px 20px;
}

#conversa .media.friend {
    margin-bottom: 30px;
}

/* --------------------------------
        Card - Mensagem
-------------------------------- */
.mensagem {
    padding: 1.5rem 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 20px;
    margin-right: 5px;
    transition-duration: 0.25s;
}

.icon img:hover {
    opacity: 0.8;
}

.mensagem .form-group {
    width: 440px;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
}

textarea {
    height: 40px;
    font-size: 1.2rem;
}

button {
    background: #fff;
    border: none;
}

button.btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fb3c00;
    margin-left: 15px;
    display: flex;
    align-self: center;
    justify-content: center;
    transition-duration: 0.25s;
}

.mensagem .btn:hover {
    opacity: 0.8;
} 

/* --------------------fim_do_Grupo_Conversa--------------------- */
