/* --------------------------------
        Geral - Fale Conosco
-------------------------------- */

.fale-conosco {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    position: initial;
}

.fale-container {
    width: 80%;
    max-width: 1170px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    padding: 2rem 7rem;
    margin: 30px 0;
}

.fale-container-header {
    box-shadow: 0 4px 6px -6px #999999;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 0;
}

input.form-control {
    height: 50px;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
}

textarea.form-control {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
}

::-webkit-input-placeholder{
    font-size: 1.6rem;
}

.container {
    padding: 0;
}

.row {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.col-sm-6,
.col-sm-2 {
    padding: 0;
    margin: 0;
}

.col-sm-2 {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

button.btn {
    padding: 0.5rem 3rem;
}

footer {
    width: 100%;
}

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }
    
    .nav-container {
        width: 100%;
    }
    .topbar-mobile {
        width: 80%;
        margin: 0 auto;
    }
    .navbar-icon {
        margin-left: auto;
    }
    .navbar-collapse {
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 3px 3px #999999;
    }
    .navbar-nav {
        width: 70%;
        padding: 1rem 0;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-link {
        width: 70px;
        margin: 0;
    }
    .nav-link p {
        width: 70px;
        font-size: 1.2rem;
    }
    .nav-icon {
        width: 40px;
        height: 40px;
        font-size: 2.5rem;
    }
    input.form-control {
        height: 40px;
        padding: 1rem 2rem;
    }
    textarea.form-control {
        padding: 1rem 2rem;
    }
}