/* --------------------------------
        Geral - Feed
-------------------------------- */
.feed-container {
    width: 80%;
    max-width: 1170px;
    height: auto;
    margin: 90px auto;
}

.card-feed {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
}

img.mini-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.col-md-3 {
    padding: 0;
    position: fixed;
}

.col-md-8 {
    padding: 0;
    margin-left: auto;
}

/* --------------------início_do_Grupo_User_Card--------------------- */
#userCard {
    width: 100%;
    max-width: 280px;
    padding: 1rem;
}

.avatar-content {
    display: flex;
    justify-content: center;
}

img.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#userCard h5 {
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid #fb754b;
}

#userCard .col-md-6 {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userCard .media {
    width: 100%;
    padding: 1rem 1.5rem 0 1.5rem;
    text-align: center;
}

#userCard .media.divisoria {
    border-right: 1px solid #fb754b;
}

#userCard .media img {
    width: 30px;
    align-self: center;
}

#userCard small {
    font-size: 1.2rem;
}

/* --------------------fim_do_Grupo_User_Card--------------------- */

/* --------------------início_do_Grupo_New_User--------------------- */
#newUser {
    width: 100%;
    max-width: 280px;
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    margin-top: 30px;
}

#newUser h5 {
    text-align: center;
    padding-bottom: 1rem;
}

#newUser .scroll {
    height: 130px;
    overflow-y: scroll;
}

#newUser .media {
    margin: 1rem 0;
}

#newUser .media-body {
    font-weight: 700;
    padding-left: 1.5rem;
    display: flex;
    align-self: center;
}

#newUser .media-body img {
    width: 45px;
    padding: 0 1rem;
}

/* --------------------fim_do_Grupo_New_User--------------------- */

/* --------------------início_do_Rodapé--------------------- */
#rodape {
    width: 100%;
    max-width: 280px;
    font-size: 1.4rem;
    color: #999999;
    text-align: center;
    margin-top: 1rem;
}

#rodape ul li a {
    color: #999999;
    transition-duration: 0.2s;
}

#rodape ul li a:hover {
    color: #4c4f66;
}

/* --------------------fim_do_Rodapé--------------------- */

/* --------------------início_do_Grupo_Publicar--------------------- */

#publicar {
    padding: 1rem 4.5rem;
}

#publicar h4 {
    color: #4c4f66;
    margin-bottom: 2.5rem;
}

.form-control {
    color: #4c4f66;
    font-size: 1.4rem;
}

.add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add a {
    margin-right: 15px;
    transition-duration: 0.2s;
}

.add a:hover {
    opacity: 0.8;
}

/* --------------------fim_do_Grupo_Publicar--------------------- */

/* --------------------início_do_Grupo_Publicacao--------------------- */
#publicacao .card-feed {
    padding: 1.5rem 0;
    margin-top: 30px;
}

#publicacao .media {
    margin-left: 5rem;
    margin-bottom: 1.5rem;
}

#publicacao .media h5 {
    align-self: center;
    margin-left: 2rem;
}

.img-public {
    width: 100%;
}

#publicacao p {
    text-align: justify;
    padding: 3rem 2.5rem;
    box-shadow: 0 4px 6px -6px #999999;
}

.curtir {
    margin-top: 15px;
    margin-left: 50px;
}

.curtir a img {
    width: 35px;
    margin-right: 20px;
    transition-duration: 0.2s;
}

.curtir a img:hover {
    filter: brightness(0.8);
}

/* --------------------fim_do_Grupo_Publicacao--------------------- */