/* --------------------------------
        Geral - Form Banda
-------------------------------- */
.form-banda {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
}

.cadastro-container {
    width: 80%;
    max-width: 1170px;
    height: auto;
    margin: 90px auto 30px;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.col-xl-2,
.col-xl-6,
.col-xl-8,
.col-md-6,
.col-sm-1,
.col-sm-3,
.col-sm-9,
.col-sm-11,
.col-sm-12 {
    padding: 0;
}

.card-cadastro {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
}

/* ------------------------------*/ 
/* Formulário */
.form-header {
    box-shadow: 0 4px 6px -6px #999999;
    padding-bottom: 1rem;
}

h5 {
    margin: 2rem 0 1.5rem;
}

.campo-form {
    padding: 1rem 2rem;
}

.form-group.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-group label {
    margin-right: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-control {
    color: #4C4F66;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
}

/* --------------------início_do_Grupo_Form_Identificação--------------------- */

#identificacao {
    width: 90%;
    max-width: 550px;
    padding: 1.5rem 3rem 2.5rem;
}

/* --------------------fim_do_Grupo_Form_Identificação--------------------- */

/* --------------------início_do_Grupo_Form_Informação--------------------- */

#informacao {
    width: 90%;
    max-width: 550px;
    padding: 1.5rem 3rem 2.5rem;
    margin-top: 30px;
}

label.remove{
    margin: 0;
}

/* --------------------fim_do_Grupo_Form_Informação--------------------- */

/* --------------------início_do_Grupo_Form_Dados--------------------- */

#dados {
    width: 100%;
    max-width: 550px;
    padding: 1.5rem 3rem 2.5rem;
}

#dados .campo-form {
    margin-bottom: 3rem;
}

#dados .campo-form:last-child {
    margin-bottom: 0;
    position: relative;
}

.add-membro {
    position: absolute;
    top: 30px;
    right: 30px;
}

.add-membro a {
    color: #999999;
    font-size: 2.5rem;
    transition-duration: 0.25s;
}

.add-membro a:hover {
    color: #FB3C00;
}

/* --------------------fim_do_Grupo_Form_Dados--------------------- */

/* --------------------------------
            MEDIA QUERY
-------------------------------- */

@media screen and (max-width: 1199px) {
    .campo-form {
        padding: 1rem;
    }
    .form-group label {
        margin-right: 0;
    }
    .add-membro {
        right: 10px;
    }
    .add-membro a {
        font-size: 2rem;
    }    
}