/* --------------------------------
            Fontes
-------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');



/* --------------------------------
        Reset da página
-------------------------------- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* --------------------------------
            Body
-------------------------------- */

body {
    color: #282a36;
    font: 400 16px 'Open Sans', sans-serif;
    background: #F7F7F7;
}


/* --------------------------------
            Títulos - H
-------------------------------- */

h1 { font-size: 46px; font-weight: 700; margin: 0; }
h2 { font-size: 38px; font-weight: 700; margin: 0; }
h3 { font-size: 30px; font-weight: 700; margin: 0; }
h4 { font-size: 24px; font-weight: 700; margin: 0; }
h5 { font-size: 18px; font-weight: 700; margin: 0; }
p { margin: 0; }


/* --------------------------------
            Header
-------------------------------- */

header {
    background: #fff;
    height: 60px;
    box-shadow: 0 2px 4px #999999;
}

.nav-container {
    width: 100%;
    max-width: 1170px;
}

nav.navbar {
    padding: 5px 0px;
} 

a.nav-link {
    padding: 0;
    color: #999999;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    margin: 0 6px;
    transition: 0.2s;
}

a.nav-link img {
    width: 35px;
}

.nav-item.active a {
    color: #fb3c00;
}

.nav-item a:hover {
    opacity: 0.8;
}


/* --------------------------------
            Footer
-------------------------------- */

footer {
    background: #fff;
    color: #fb3c00;
    height: 70px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

footer ul li {
    padding-top: 10px;
}

footer ul li a {
    color: #fb3c00;
    transition: 0.5s;
}

footer ul li a:hover {
    color: #fb3c00;
    opacity: 0.8;
}


/* --------------------------------
            Button
-------------------------------- */

button.btn {
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 2px 4px #999999;
    transition: 0.2s;
}

button.btn:hover {
    text-decoration: underline;
}

button.btn.btn-salvar {
    color: #fff;
    background-color: #fb3c00;
    border: 2px solid #fb3c00;
}

button.btn.btn-salvar:hover {
    background-color: #fb754b;
    border: 2px solid #fb3c00;
}

button.btn.btn-outline-cancelar {
    color: #fb3c00;
    background-color: #fff;
    border: 2px solid #fb3c00;
}

button.btn.btn-outline-cancelar:hover {
    color: #fff;
    background-color: #fb754b;
    border: 2px solid #fb3c00;
}


button.btn.btn-salvar-modal {
    color: #fff;
    background-color: #999999;
    border: 2px solid #999999;
}

button.btn.btn-salvar-modal:hover {
    border: 2px solid #4c4f66;
}

button.btn.btn-cancelar-modal {
    color: #999999;
    background-color: #fff;
    border: 2px solid #999999;
}

button.btn.btn-cancelar-modal:hover {
    color: #fff;
    background-color: #999999;
    border: 2px solid #4c4f66;
}


/* --------------------------------
        Campos do Form
-------------------------------- */
.form-group input,
.form-group select,
.form-group textarea,
.radio-group,
.form-control {
    border: 2px solid #999999;
    border-radius: 10px;
}

.form-group textarea {
    resize: none;
    overflow-y: auto;
}

/* --------------------------------
         Cor do radio
-------------------------------- */
.custom-control-label:before{
    background-color:#F7F7F7;
    border: 1px solid #999999;
}
  
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color:#fb3c00;
    border: 1px solid #999999;
}

/* --------------------------------
         Cor do checkbox
-------------------------------- */

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#fb3c00;
}


/* --------------------início_do_xxxxxxxxxxx -------------------- */

/* --------------------fim_do_xxxxxxxxxxx -------------------- */

/* --------------------------------
             Group
-------------------------------- */

 /* ------------------------------*/ 
/* grupo dentro do grupo*/

