@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/* --------------------------------
            Body
-------------------------------- */

body {
    color: #282a36;
    font: 'Patua One', cursive;
    background: #F7F7F7;
}

/* --------------------------------
            Títulos - H
-------------------------------- */

h1 { font-size: 45px; font-weight: bold; margin: 0; }
h4 { font-size: 24px; font-weight: bold; margin: 0; }
p { font-size: 20px; margin: 0; font-weight: bold;}

/* --------------------começo_do_Header -------------------- */

header{
    height: 80px;
}

.form-group input{
    height: 40px;
    border: 2px solid #fb3c00;
    margin-right: 10px;
}

::-webkit-input-placeholder{
    font-size: 14px;
}

.nav-item a{
    color: #fb3c00;
    font-size: 12px;
    margin-left: 305px;
}

.nav-item a:hover{
    text-decoration: none;
}

.form-inline .form-control{
    width: 200px;
}

nav.navbar{
    padding: 8px 0px;
}

ul.navbar-nav{
    padding-top: 4px;
}

/* --------------------fim_do_Header -------------------- */

/* --------------------começo_do_Carousel -------------------- */

.container-carousel{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0px;
    width: 100%;
}
div#carousel{
    margin-top: 80px;
}

.carousel-item img{
    height: 500px;
}

#botaoCarousel{
    display: flex;
    justify-content: center;
    margin: 3px 0px;
}

/* --------------------fim_do_Carousel -------------------- */

/* --------------------início_do_Conecte-se -------------------- */
#conexao{
    margin: 40px 0px;
}

#conexao img{
    width: 350px;
}

#conexao div.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#conexao .col-5{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#conexao h1{
    text-align: center;
    margin-bottom: 30px;
}
/* --------------------fim_do_Conecte-se -------------------- */

/* --------------------início_do_Anuncie -------------------- */
#anuncie img{
    width: 100%;
}
/* --------------------fim_do_Anuncie -------------------- */

/* --------------------início_do_Para quem -------------------- */
#para-quem{
    background-image: url(../img/pre-cadastro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#para-quem img{
    width: 250px;
}
/* --------------------fim_do_Para quem -------------------- */