/* --------------------------------
        Geral - Perfil músico
-------------------------------- */
.form-group {
    margin: 0;
}

.form-control {
    font-size: 1.6rem;
}

/* --------------------início_do_Grupo_Head--------------------- */

/* --------------------------------
             Imagem
-------------------------------- */

.fundo-content a img,
.avatar-content a img {
    transition: 0.2s;
}

.fundo-content a img:hover,
.avatar-content a img:hover {
    filter: brightness(0.9);
}

/* --------------------------------
             Icon
-------------------------------- */

div.icon i {
    width: 40px;
    height: 40px;
    color: #fb3c00;
    background-color: #fff;
    border: 1.5px solid #fb3c00;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

div.icon i:hover {
    color: #fff;
    background-color: #fb3c00;
}

.fundo-content div.icon {
    position: absolute;
    top: 5%;
    right: 2%;
}

.avatar-content div.icon {
    position: absolute;
    top: 70%;
    left: 80%;
}

/* --------------------------------
            Info - User
-------------------------------- */

.info-user textarea {
    width: 30%;
    margin: 1rem 3rem;
}

/* --------------------fim_do_Grupo_Head--------------------- */

/* --------------------início_do_Grupo_Bio--------------------- */

#bio .form-group {
    width: 100%;
    height: auto;
    margin: 20px auto 0;
}

/* --------------------fim_do_Grupo_Bio--------------------- */

/* --------------------início_do_Grupo_Habilidades--------------------- */
#habilidades h4 {
    margin-bottom: 1rem;
}

a.modal-link {
    color: #282a36;
}

a.modal-link:hover {
    color: #4c4f66;
    font-weight: 600;
}

/* --------------------------------
            Scroll
-------------------------------- */

#habilidades .scroll {
    height: 200px;
    margin-top: 1rem;
    overflow-y: scroll;
}

#habilidades .form-group {
    width: 80%;
    margin: 0;
}

.habilidades-item.media {
    align-items: center;
}

.habilidades-item img {
    align-items: center;
}

.habilidades-item  textarea {
    margin: 0 1.5rem;
}

/* ------------------------------*/ 
/* Ícone - lixo */

div.icon-border-none i {
    color: #999999;
    transition: 0.2s;
}

div.icon-border-none i:hover {
    color: #4c4f66;
}

.habilidades-item div.icon-border-none {
    padding-left: 3rem;
}

/* --------------------fim_do_Grupo_Habilidades--------------------- */

/* --------------------início_do_Grupo_Infos--------------------- */
.infos-item.media {
    align-items: center;
}

#infos form {
    width: 100%;
    margin-left: 1.5rem;
}

/* --------------------fim_do_Grupo_Infos--------------------- */

/* --------------------início_do_Grupo_Minha_Musica--------------------- */
#minhaMusica h4 {
    margin-bottom: 1rem;
}

#minhaMusica .row {
    padding-top: 1rem;
}

.musica-item {
    padding-left: 0;
    padding-right: 1rem;
}

.musica-item div.icon-border-none {
    text-align: right;
    margin-bottom: 0.5rem;
}

/* --------------------fim_do_Grupo_Minha_Musica--------------------- */

/* --------------------------------
              Modal
-------------------------------- */

input.form-control-file {
    border-radius: 0 10px 10px 0;
    margin: 1rem 0;
}

/* ------------------------------*/ 
/* Check Box */

.form-check {
    padding: 1rem 0;
}

label.form-check-label{
    display: flex;
    align-items: center;
}

.form-check-input,
.form-check-input,
.form-check-input{
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 0px 0px;
}

 input[type=checkbox]{
    display: none;
}

 
input[type=checkbox] + label:before {
    width: 18px;
    height: 18px;
    background-color:#F7F7F7;
    box-shadow: 0px 2px 4px #999999;
    border-radius: 5px;
    margin-right: 10px;
    content: "";
    display: inline-block;
}

input[type=checkbox]:checked + label:before {
    background-color:#fb3c00;
    background-image: url(../img/icones/check-vector.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#adicionarMusica label {
    font-weight: normal;
}

#adicionarMusica .form-group {
    margin: 1rem 0;
}

hr.divisor {
    border-color: #999999;
}

/* ------------------------------*/ 
/* Confirmar Exclusão */

.danger {
    font-weight: 700;
    color: #fe0000;
    margin-bottom: 10px;
}

/* --------------------------------
            MEDIA QUERY
-------------------------------- */

@media screen and (max-width: 1199px) {
    .avatar-content div.icon {
        position: absolute;
        top: 60%;
        left: 85%;
    }
    .info-user textarea {
        width: 35%;
    }
    
}