/* --------------------------------
    Geral - Perfil músico editar
-------------------------------- */


/* --------------------início_do_Grupo_Head--------------------- */

/* --------------------------------
             Imagem
-------------------------------- */

.fundo-content a img,
.avatar-content a img {
    transition: 0.2s;
}

.fundo-content a img:hover,
.avatar-content a img:hover {
    filter: brightness(0.9);
}

/* --------------------------------
             Icon
-------------------------------- */

div.icon i {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: 1.5px solid #fb3c00;
    border-radius: 100%;
    color: #fb3c00;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

div.icon i:hover {
    background-color: #fb3c00;
    color: #fff;
}

.fundo-content div.icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.avatar-content div.icon {
    position: absolute;
    top: 140px;
    left: 150px;
}

/* --------------------------------
            Info - User
-------------------------------- */

.info-user textarea {
    width: 20%;
    margin-top: 10px;
    margin-left: 345px;
}

/* --------------------fim_do_Grupo_Head--------------------- */

/* --------------------início_do_Grupo_Bio--------------------- */

#bio .form-group {
    width: 100%;
    margin: 20px auto 0;
}

/* --------------------fim_do_Grupo_Bio--------------------- */

/* --------------------início_do_Grupo_Habilidades--------------------- */

a.modalLink {
    color: #282a36;
    margin: 20px 0;
}

a.modalLink:hover {
    font-weight: 700;
}

/* --------------------------------
            Scroll
-------------------------------- */

#habilidades .scroll {
    height: 200px;
    overflow-y: scroll;
}

#habilidades .form-group {
    width: 80%;
    margin: 0;
}

.habilidades-item  textarea {
    width: 100%;
    margin-left: 15px;
}

/* ------------------------------*/ 
/* Ícone - lixo */

div.icon-border-none i {
    color: #999999;
    transition: 0.2s;
}

div.icon-border-none i:hover {
    color: #4c4f66;
}

.habilidades-item div.icon-border-none {
    margin-left: 20px;
    display: flex;
    align-self: center;
}

/* --------------------fim_do_Grupo_Habilidades--------------------- */

/* --------------------início_do_Grupo_Infos--------------------- */

#infos form {
    width: 100%;
    height: 38px;
    margin: 0;
}

.infos-item  textarea {
    width: 100%;
    margin-left: 20px;
}

/* --------------------fim_do_Grupo_Infos--------------------- */

/* --------------------início_do_Grupo_Minha_Musica--------------------- */

#minha-musica .scroll .row {
    margin: 0;
    height: 850px;
}

.musica-item {
    padding-left: 0;
    padding-right: 10px;
}

.musica-item div.icon-border-none {
    text-align: right;
    margin-bottom: 10px;
}

/* --------------------fim_do_Grupo_Minha_Musica--------------------- */

/* --------------------------------
              Modal
-------------------------------- */

.collapse .form-group {
    margin-top: 20px;
}

.custom-control.custom-checkbox {
    margin-bottom: 20px;
}


/* ------------------------------*/ 
/* Confirmar Exclusão */

.danger {
    font-weight: 700;
    color: #fe0000;
    margin-bottom: 10px;
}