@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');


/* --------------------------------
            Títulos - H
-------------------------------- */

html {
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}


/* --------------------------------
            Body
-------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #fb3c00;
    /*caso o background-image não carregue*/
    /* background-image:url("../img/pre-cadastro-bg.jpg");
    background-size: cover; */
    padding: 0;
    /*tirando o padding padrão  */
    margin: 0;
    /*tirando o margin padrão  */
    outline: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


#containerAll {
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* --------------------início_do_header-------------------- */

header div.row {
    height: 300px;
    width: 100vw;
    max-width: 1440px;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 8rem;
}

header h1 {
    padding-left: 1rem;
}

/* --------------------fim_do_header-------------------- */


/* --------------------início_do_escolha-perfil-------------------- */
#escolhaPerfil {
    height: 55rem;
    color: white;
}

#escolhaPerfil div.row {
    margin: 0px 0px;
}

.col-md-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


#escolhaPerfil img {
    width: 35.5rem;
    /* max-width: 355px; */
}

#escolhaPerfil p {
    text-align: center;
    padding-top: 1rem;
    color: white;
}

#escolhaPerfil a:hover {
    text-decoration: none;
}


/* --------------------fim__do_escolha-perfil-------------------- */


/* --------------------início_do_footer -------------------- */

footer {
    height: 7rem;
    font: 400 1.6rem 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer ul li {
    padding-top: 1rem;
}

footer ul li a {
    color: #ffffff;
    transition: filter 0.5s;
}

footer ul li a:hover {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: underline;
}

/* --------------------fim_do_footer -------------------- */



/* --------------------------------------------------------------------------------------------------------------------------- */