@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    color: #282a36;
    font: 400 16px 'Open Sans', sans-serif;
}

h1 { font-size: 46px; font-weight: 700; }
h2 { font-size: 38px; font-weight: 700; }
h3 { font-size: 30px; font-weight: 700; }
h4 { font-size: 24px; font-weight: 700; }
h5 { font-size: 18px; font-weight: 700; }

.container-vagas{
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E5E5E5;
}

.form-control{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* publicar-vaga start */
.publicarVagas{
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin-top: 30px;
    background-color: #fff; 
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.formulario-nova-vaga{
    width: 100%;
    max-width: 1028px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}
/* publicar-vaga end */

/* pesquisar vaga start */
.pesquisarVagas{
    width: 100%;
    max-width: 1170px;
    height: auto;
    background-color: #fff; 
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.formulario-pesquisar-vaga{
    width: 100%;
    max-width: 1028px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}
/* pesquisar vaga end */

/* feed vagas start */
.feedVagas{
    width: 100%;
    max-width: 1170px;
    height: auto;
    background-color: #fff; 
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
/* feed vagas end */

/* footer start */
footer {
    background: #fff;
    color: #fb3c00;
    height: 70px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

footer ul li {
    padding-top: 10px;
}

footer ul li a {
    color: #fb3c00;
    transition: filter 0.5s;
}

footer ul li a:hover {
    color: #fb3c00;
    opacity: 0.8;
}
/* footer end */


/* ----------------------------------------------------------------------------------- */
/* Header start */
header {
    background: #fff;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px #999999;
    display: block;
    /* display: flex;
    justify-content: center; */
}
/* 
.nav-container {
    width: 1170px;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
*/

nav.navbar {
    padding: 0 40px;
} 

a.nav-link {
    padding: 0;
    text-align: center;
    margin: 0 6px;
}

a.nav-link p {
    margin: 0;
    color: #999999;
    font-size: 10px;
    font-weight: 700;
}

.active a.nav-link p {
    color: #fb3c00;
}

.nav-item a {
    transition: filter 0.2s;
}

/* .nav-item a:hover {
    opacity: 0.8;
} */

#sair a img:hover {
    background-image: url(../img/icones/sair_laranja.png);
    width: 35px;
}


/* Container - Bootstrap
.container {
    padding: 0;
    margin: 0;
} */
/* Header end */
/* ----------------------------------------------------------------------------------- */