/* -------------------------------------- */
/* --------- Css - Página Vagas --------- */
/* -------------------------------------- */

h4{ 
    margin-bottom: 0px; 
}

.container-vagas{
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E5E5E5;
}

.form-group{
    margin-top: 20px;
    margin-bottom: 0px;
}

.form-control{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
}

.form-control{
    font-size: 16px; 
    font-weight: normal;
}

.checkbox{
    color: #5E6380;
    font-size: 16px; 
    font-weight: normal;
    max-width: 338px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #999999;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0px 13px 0px 13px;
    display: flex;
}
/* ------------------------------------------------------- */
/* publicar-vaga start */
.publicarVagas{
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin-top: 30px;
    background-color: #fff; 
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.formulario-nova-vaga{
    width: 100%;
    max-width: 1048px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
}
/* publicar-vaga end */
/* ------------------------------------------------------- */
/* pesquisar vaga start */
.pesquisarVagas{
    width: 100%;
    max-width: 1170px;
    height: auto;
    background-color: #fff; 
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.formulario-pesquisar-vaga{
    width: 100%;
    max-width: 1048px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
}
/* pesquisar vaga end */
/* ------------------------------------------------------- */
/* feed vagas start */
.feedVagas{
    width: 100%;
    max-width: 1170px;
    height: auto;
    background-color: #fff; 
    box-shadow: 0 2px 4px #999999;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.feedVagas-conteudo{
    width: 100%;
    max-width: 1048px;
    display: flex;
    /* flex-direction: column; */
    padding: 20px 10px 20px 10px;
}
/* feed vagas end */
/* ------------------------------------------------------- */
/* Botões start*/
.botao{
    display: flex;
    justify-content: flex-end;
}

button.btn {
    background-color: #fb3c00;
    border: 2px solid #fb3c00;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: filter 0.2s;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

button.btn:hover {
    color: #fff;
    background-color: #fb754b;
    border: 2px solid #fb3c00;
}
/* Botões end*/