
.admin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 80px;
}

.nav-link p {
    width: 80px;
}

footer {
    width: 100%;
    padding: 10px 0;
}

.admin-container {
    width: 80%;
    max-width: 1170px;
    height: auto;
    margin: 90px auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --------------------------------
              Table
-------------------------------- */
.table {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #999999;
}

thead {
    color: #FFF;
    background-color: #fb3c00;
}

td a {
    color: #4c4f66;
    font-weight: 700;
    text-decoration: underline;
    transition-duration: 0.25s;
}

td a:hover {
    color: #4c4f66;
    opacity: 0.8;
}

td i {
    color: #999999;
    transition-duration: 0.25s;
}

td i:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.check {
    color: #008080;
}

/* --------------------------------
        Button Carregar
-------------------------------- */

.carregar {
    margin-left: auto;
}

.btn-carregar {
    color: #fff;
    font-size: 1.8rem;
    background-color: #fb3c00;
    border: 2px solid #fb3c00;
    margin-top: 30px;
}

.btn-carregar:hover {
    color: #fff;
    background-color: #fb754b;
    border: 2px solid #fb3c00;
}

/* --------------------------------
              Modal
-------------------------------- */
.modal-content {
    border-radius: 10px;
    padding: 1rem 2rem;
}

.modal-header button {
    color: #999999;
    font-size: 2rem;
    outline-style: none;
    transition-duration: 0.25s;
}

.modal-header button:hover {
    color: #fb3c00;
}

.form-group {
    margin: 0 0 20px;
}

.form-group label {
    font-weight: 600;
}

.modal-footer>:not(:first-child) {
    margin-left: 1rem;
}

h5.info-user {
    color: #999999;
    margin-bottom: 15px;
}


@media screen and (max-width: 992px) {
    .nav-container {
        width: 80%;
    }

    .nav-container {
        width: 80%;
    }
    .navbar-nav {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .nav-item .dropdown-menu {
        position: absolute;
        top: 60px;
        right: 15%;
        left: auto;
    }

}


@media screen and (max-width: 576px) {
    html { font-size: 62.5%; }
    body { font-size: 1.2rem; }
    h3 { font-size: 1.6rem; }

    header { 
        height: 45px; 
    }

    .nav-container {
        width: 90%;
    }

    .navbar-brand img {
        width: 100px;
    }

    .nav-link {
        width: auto;
        margin: 0;
    }

    .nav-item {
        margin-left: 20px;
    }

    .nav-item .dropdown-menu {
        top: 45px;
    }
    
    footer {
        height: 45px;
    }
    footer ul li {
        padding: 2px;
    }
    footer img {
        width: 15px;
    }

    .modal-content {
        padding: 0rem 1rem;
    }
    .modal-header h4 {
        font-size: 1.8rem;
    }
    .modal-body label {
        font-size: 1.4rem;
    }
}