/*-----------------------
        Alerta 
 ------------------------*/
#msgFeedback {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#msgFeedback .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    width: 100%;
    max-width: 500px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 2rem;
}

h3 {
    box-shadow: 0 4px 6px -6px #999999;
    padding-bottom: 1.5rem;
}

p {
    margin-top: 1.5rem;
}

button {
    margin-top: 2.5rem;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 992px) {
    .nav-container {
        width: 80%;
    }

    #msgFeedback .row {
        justify-content: center;
    }

    #msgFeedback img {
        max-width: 450px;
    }

    .alert {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
    html { font-size: 62.5%; }
    body { font-size: 1.2rem; }
    h3 { font-size: 1.6rem; }

    header { 
        height: 45px; 
    }

    .nav-container {
        width: 90%;
    }

    .navbar-brand img {
        width: 100px;
    }

    #msgFeedback img {
        width: 80%;
    }

    .alert {
        padding: 1rem;
    }

    button.btn {
        font-size: 1.2rem;
    }

    footer {
        height: 45px;
    }
    footer ul li {
        padding: 2px;
    }
    footer img {
        width: 15px;
    }
}