html {
    font-size: 62.5%;
}

/* --------------------------------
            Fontes
-------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');



/* --------------------------------
        Reset da página
-------------------------------- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* --------------------------------
            Body
-------------------------------- */

body {
    color: #282a36;
    font: 400 1.6rem 'Open Sans', sans-serif;
    background: #F7F7F7;
}


/* --------------------------------
            Títulos - H
-------------------------------- */

h1 { font-size: 4.6rem; font-weight: 700; margin: 0; }
h2 { font-size: 3.8rem; font-weight: 700; margin: 0; }
h3 { font-size: 3.0rem; font-weight: 700; margin: 0; }
h4 { font-size: 2.2rem; font-weight: 700; margin: 0; }
h5 { font-size: 1.8rem; font-weight: 700; margin: 0; }
p { margin: 0; }


/* --------------------------------
            Header
-------------------------------- */

header {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 4px #999999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.nav-container {
    width: 80%;
    max-width: 1170px;
}

.navbar {
    padding: 5px 0px;
}

.topbar-mobile {
    display: flex;
}

.navbar-brand img {
    width: 150px;
}

.nav-link {
    width: 60px;
    color: #999999;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0 !important;
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.2s;
}

.nav-link p {
    width: 60px;
}

.nav-icon {
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 1.8rem;
    background-color: #999999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


li:hover .nav-link,
.nav-item.active a {
    color: #fb3c00;
}

li:hover .nav-icon,
.nav-item.active .nav-icon {
    background-color: #fb3c00;
}

/* ------------------------------*/ 
/* Avatar */
.nav-icon-avatar {
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.25s;
    overflow: hidden;
}

img.avatar-nav {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.nav-icon-avatar:hover,
.nav-icon-avatar:focus {
    outline-style: none;
}

.nav-item .dropdown-toggle::after {
    content: none;
}

.nav-item .dropdown-menu {
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px #999999;
    padding: 1rem;
    margin: -2px 0 0;
    overflow: hidden;
}

.nav-item .dropdown-item {
    text-align: center;
    padding: 0;
}

.nav-item .dropdown-item:hover {
    background-color: transparent;
}

.nav-item h5.dropdown-item {
    height: auto;
    font-weight: 700;
    padding: 0;
}

.nav-item p.dropdown-item {
    height: auto;
    font-weight: 700;
    box-shadow: 0 4px 6px -6px #999999;
    padding: 0 0 .5rem;
}

.nav-item a.dropdown-item {
    padding: 1rem 0 0;
}

.nav-item a.dropdown-item:hover,
.nav-item a.dropdown-item:focus {
    color: #fb3c00;
}

/* ------------------------------*/ 
/* Hamburger */
.navbar-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
}

.navbar-toggler {
    background-color: #fb3c00;
}

.navbar-toggler-icon {
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------
            Footer
-------------------------------- */

footer {
    height: 70px;
    color: #fb3c00;
    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

footer ul li {
    padding-top: 10px;
}

footer ul li a {
    color: #fb3c00;
    transition: 0.5s;
}

footer ul li a:hover {
    color: #fb3c00;
    opacity: 0.8;
}


/* --------------------------------
            Button
-------------------------------- */

button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 2px 4px #999999;
    transition: 0.2s;
}

button.btn:focus{
    border-radius: 10px;
    box-shadow: 0px 2px 4px #999999;
    border: 1px solid #ced4da;
}

button.btn.btn-salvar {
    color: #fff;
    background-color: #fb3c00;
    border: 2px solid #fb3c00;
}

button.btn.btn-salvar:hover {
    background-color: #fb754b;
    border: 2px solid #fb3c00;
}

button.btn.btn-outline-cancelar {
    color: #fb3c00;
    background-color: #fff;
    border: 2px solid #fb3c00;
}

button.btn.btn-outline-cancelar:hover {
    color: #fff;
    background-color: #fb754b;
    border: 2px solid #fb3c00;
}


button.btn.btn-salvar-modal {
    color: #fff;
    background-color: #999999;
    border: 2px solid #999999;
}

button.btn.btn-salvar-modal:hover {
    border: 2px solid #4c4f66;
}

button.btn.btn-cancelar-modal {
    color: #999999;
    background-color: #fff;
    border: 2px solid #999999;
}

button.btn.btn-cancelar-modal:hover {
    color: #fff;
    background-color: #999999;
    border: 2px solid #4c4f66;
}

button.btn.btn-danger {
    color: #fff;
    border: 2px solid #fe0000;
    background-color: #fe0000;
}

button.btn.btn-danger:hover {
    color: #fff;
    border: 2px solid #fe0000;
    background-color: rgba(254, 0, 0, 0.8);
}

/* --------------------------------
        Campos do Form
-------------------------------- */
.form-group input,
.form-group select,
.form-group textarea,
.radio-group,
.form-control {
    color: #282A36;
    font-size: 1.6rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #999999;
    padding: 1rem 2rem;
}

.form-group input,
.form-group select {
    height: 40px;
}

::-webkit-input-placeholder{
    color: #999999;
    font-size: 1.6rem;
}

.form-group textarea {
    resize: none;
    overflow-y: auto;
}


/* --------------------------------
         Cor do radio
-------------------------------- */
.custom-control-label:before{
    background-color:#F7F7F7;
    border: 1px solid #999999;
}
  
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color:#fb3c00;
    border: 1px solid #999999;
}

/* --------------------------------
         Cor do checkbox
-------------------------------- */

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#fb3c00;
}

/* --------------------------------
         Cor do form em foco
-------------------------------- */
.form-control:focus{
    border-radius: 10px;
    box-shadow: 0px 2px 4px #999999;
    border: 1px solid #ced4da;
}

/* --------------------------------
         Mensagem Erro
-------------------------------- */

.alert {
    width: 100%;
    padding: 1.5rem 2.5rem;
    margin-bottom: 30px;
}

.alert-danger {
    border-radius: 10px;
}

.alert h5 {
    margin: 0;
}

.error {
    list-style-type: none;
    margin-bottom: 0;
}


/* --------------------início_do_xxxxxxxxxxx -------------------- */

/* --------------------fim_do_xxxxxxxxxxx -------------------- */

/* --------------------------------
             Group
-------------------------------- */

 /* ------------------------------*/ 
/* grupo dentro do grupo*/

/* fazendo um teste de resolução de conflito */

/* fazendo teste de merge */

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }
    
    .nav-container {
        width: 100%;
    }
    .topbar-mobile {
        width: 80%;
        margin: 0 auto;
    }
    .navbar-icon {
        margin-left: auto;
    }
    .navbar-collapse {
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 3px 3px #999999;
    }
    .navbar-nav {
        width: 70%;
        height: 75px;
        padding: 1rem 0;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link {
        width: 70px;
        margin: 0;
    }
    .nav-link p {
        width: 70px;
        font-size: 1.2rem;
    }
    .nav-icon {
        width: 40px;
        height: 40px;
        font-size: 2.3rem;
    }
    .nav-icon-avatar {
        width: 50px;
        height: 50px;
    }
    
    img.avatar-nav {
        width: 50px;
        height: 50px;
    }
    
    .nav-item .dropdown-menu {
        position: absolute;
        top: 125px;
        right: 15%;
        left: auto;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
    
    .navbar-nav {
        width: 80%;
    }
    .nav-link {
        width: 60px;
    }
    .nav-icon {
        font-size: 2.5rem;
    }
    .nav-item .dropdown-menu {
        top: 125px;
        right: 10%;
    }
}

@media screen and (max-width: 576px) {
    header { 
        height: 45px; 
    }
    .navbar { 
        padding: 5px 0px; 
    }
    .topbar-mobile {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }
    .navbar-brand img {
        width: 100px;
    }
    .navbar-nav {
        width: 85%;
        height: 55px;
        max-width: 400px;
    }
    .nav-link {
        width: auto;
        margin: 0;
    }
    .nav-link p {
        display: none;
    }
    .nav-icon {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
    }
    img.avatar-nav {
        width: 30px;
        height: 30px;
    }
    .navbar-icon {
        width: 30px;
        height: 30px;
    }
    .navbar-toggler-icon {
        display: inline-block;
        font-size: 2rem;
    }
    .nav-icon-avatar {
        width: 30px;
        height: 30px;
        margin-left: 0;
    }
    
    img.avatar-nav {
        width: 30px;
        height: 30px;
    }
    
    .nav-item .dropdown-menu {
        top: 90px;
        right: 7.5%;
    }

    footer {
        height: 45px;
    }
    footer ul li {
        padding: 2px;
    }
    footer img {
        width: 15px;
    }
}