/* --------------------------------
    Geral - Perfil banda editar
-------------------------------- */
.form-group {
    margin: 0;
}

.form-control {
    font-size: 1.6rem;
}

.nav-item {
    margin-left: 20px;
}

.col-lg-12,
.col-sm-6 {
    padding: 0;
}

/* --------------------início_do_Grupo_Head--------------------- */

/* --------------------------------
             Imagem
-------------------------------- */

.fundo-content a img,
.avatar-content a img {
    transition-duration: 0.25s;
}

.fundo-content a img:hover,
.avatar-content a img:hover {
    filter: brightness(0.9);
}

/* --------------------------------
             Icon
-------------------------------- */

div.icon i {
    width: 40px;
    height: 40px;
    color: #fb3c00;
    font-size: 2rem;
    background-color: #fff;
    border: 1.5px solid #fb3c00;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

div.icon i:hover {
    color: #fff;
    background-color: #fb3c00;
}

.fundo-content div.icon {
    position: absolute;
    top: 5%;
    right: 2%;
}

.avatar-content div.icon {
    position: absolute;
    top: 70%;
    left: 80%;
}

/* --------------------------------
            Info - User
-------------------------------- */


.info-user textarea {
    width: 30%;
    margin: 1rem 3rem;
}


/* --------------------fim_do_Grupo_Head--------------------- */

/* --------------------início_do_Grupo_Bio--------------------- */

#bio .form-group {
    width: 100%;
    height: auto;
    margin: 20px auto 0;
}

#bio .form-control {
    height: auto;
    min-height: 150px;
    max-height: 250px;
    resize: vertical;
}

/* --------------------fim_do_Grupo_Bio--------------------- */

/* --------------------início_do_Grupo_Integrantes--------------------- */

.int.col-lg-6.col-md-12{
padding: 0;
}

#integrantes {
    height: 410px;
}

#integrantes h4 {
    margin-bottom: 1rem;
}

a.modal-link {
    color: #282a36;
}

a.modal-link:hover {
    color: #4c4f66;
    font-weight: 600;
}

/* --------------------------------
            Scroll
-------------------------------- */

#integrantes .scroll {
    height: auto;
    max-height: 280px;
    padding-top: 0;
    margin-top: 1rem;
    overflow-y: scroll;
}

.integrantes-item.media{
    align-items: center;
} 

.integrantes-item img{
  height: 40px ;
  width: 40px;
} 


/* ------------------------------*/ 
/* Ícone - lixo */

div.icon-border-none i {
    color: #999999;
    transition: 0.2s;
}

div.icon-border-none i:hover {
    color: #4c4f66;
}

.integrantes-item div.icon-border-none {
    padding-left: 1rem;
}


/* --------------------fim_do_Grupo_Integrantes--------------------- */

/* --------------------início_do_Grupo_Infos--------------------- */

#infos {
    height: 410px;
}

.infos-item.media {
    align-items: center;
}

#infos .form {
    width: 100%;
    margin-left: 1.5rem;
}

.form-group select {
    height: 46px;
}

/* --------------------fim_do_Grupo_Infos--------------------- */

/* --------------------início_do_Grupo_Minha_Musica--------------------- */

#minhaMusica h4 {
    margin-bottom: 1rem;
}

#minhaMusica .row {
    padding-top: 1rem;
}

.musica-item {
    padding-left: 0;
    padding-right: 1rem;
}

.musica-item div.icon-border-none {
    text-align: right;
    margin-bottom: 0.5rem;
}

/* --------------------fim_do_Grupo_Minha_Musica--------------------- */

/* --------------------------------
              Modal
-------------------------------- */
input.form-control-file {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin: 1rem 0;
}

.collapse .form-group {
    margin-top: 20px;
}

.custom-control.custom-checkbox {
    margin-bottom: 20px;
}

label.col-sm-2.col-form-label{
    padding-left: 0;
    padding-right: 0;
}

::-webkit-input-placeholder{
    font-size: 14px;
    color: orangered;
}

/* ------------------------------*/ 
/* Confirmar Exclusão */

.danger {
    font-weight: 700;
    color: #fe0000;
    margin-bottom: 10px;
}

/* --------------------------------
            MEDIA QUERY
-------------------------------- */

@media screen and (max-width: 1199px) {
    .avatar-content div.icon {
        top: 60%;
        left: 85%;
    }
    .info-user textarea {
        width: 25%;
    }
    #textareaUserName.form-control{
        margin: 10px 0 10px 275px;
    }

    .form-group.col-5{
        padding: 0rem 0.3rem 0rem 1.2rem;
    }
    .integrantes-item div.icon-border-none {
        padding-left: 0.2rem;
    }
   
}

@media screen and (max-width: 991px) {
    .nav-container {
        width: 80%;
        display: flex;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        width: 100%;
        padding: 0;
        justify-content: flex-end;
    }
    .nav-item {
        margin-left: 10px;
    }

    div.icon i {
        width: 35px;
        height: 35px;
    }

    #infos {
        height: auto;
    }
    .info-user {
        padding-left: 2rem;
    }
    .info-user textarea {
        width: 40%;
    }
    .form-group select {
        height: 41px;
    }

    #textareaUserName.form-control{
        margin: 10px 0px 10px 200px;
    }

    #integrantes {
        height: auto;
    }

    #integrantes .scroll {
        height: auto;
        max-height: 280px;
        margin-top: 2rem;
    }
    #integrantes .form-group {
        width: 100%;
    }

    .col-sm-12 {
        padding: 0;
    }
    .integrantes-item div.icon-border-none {
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-container .btn {
        height: 30px;
    }

    div.icon i {
        width: 30px;
        height: 30px;
    }

    .info-user {
        padding-left: 2rem;
    }
    .info-user textarea {
        width: 31%;
    }
    .form-group select {
        height: 37px;
    }

    #textareaUserName.form-control{
        margin: 10px 0px 10px 160px;
    }
    div.info-user-status{
      padding: 0px 0px 12px 0px;
    }

    #bio {
        padding: 2.5rem 5rem;
    }
}

@media screen and (max-width: 576px) {
    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-control {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    ::-webkit-input-placeholder {
        font-size: 1.2rem;
    }

    .nav-container {
        width: 90%;
        max-width: 400px;
    }
    .nav-container .btn {
        height: auto;
        font-size: 1.2rem;
    }
    
    div.icon i {
        width: 18px;
        height: 18px;
        font-size: 1rem;
        border: 1px solid #fb3c00;
    }
    .avatar-content div.icon {
        top: 48%;
        left: 85%;
    }

    /* #infos {
        padding: 1rem 2rem;
    } */
    .info-user {
        padding-left: 1rem;
    }
    .info-user textarea {
        width: 45%;
        margin: 0.5rem 3rem;
    }
    .form-group select {
        height: 30px;
    }
  
    #textareaUserName.form-control{
        margin: 10px 0px 10px 100px;
    }
    div.info-user-status{
      padding: 0rem 0.5rem 1.2rem;
    }

    #bio {
        padding: 1rem 2rem 1.5rem;
    }
    #bio .form-group {
        margin-top: 10px;
    }

    #integrantes .scroll {
        height: auto;
        max-height: 170px;
    }

    .integrantes-item img {
        width: 20px;
        height: 20px;
    }
    .form-group.col-5{
        padding: 0rem 0.3rem;
    }
    .integrantes-item div.icon-border-none {
        padding-left: 0.2rem;
    }

    input.form-control-file {
        padding: 0;
    }

    #excluirConta {
        padding: 1rem 2rem;
        margin-top: 15px;
    }

    select.form-control:not([size]):not([multiple]) {
        padding: 0 1rem;
    }

}