<%- include('./partials/header.ejs', { active: "Ajuda" , css: ["ajuda.css"]}) %>

        <div class="duvidas-container">
            <section class="card-duvidas">
                <h4> Perguntas Frequentes </h4>

                <h5>1- Quais nomes são permitidos no Band+?</h5>
                <p>É permitido o uso de letras, números e símbolos.<br>O nome do usuário deve ser único.<br>É
                    vedado o uso de qualquer tipo de palavra ofensiva ou sugestiva.</p>

                <h5>2- Posso me cadastrar em mais de um perfil?</h5>
                <p>Sim, mas é necessário que faça o cadastro com um nome de usuário e e-mail diferentes.</p>

                <h5>3- Estou com problema de acesso à minha conta. O que faço?</h5>
                <p>No rodapé da página, acesse o Fale Conosco e envie-nos uma mensagem.</p>

                <h5>4- Como faço para denunciar uma publicação ou conteúdo indevido?</h5>
                <p>No rodapé da página, acesse o Fale Conosco e conte-nos o que aconteceu.</p>

                <h5>5- Onde encontrar minhas configurações</h5>
                <p>Você pode encontrar suas configurações acessando seu Perfil.</p>

                <h5>6- Como faço para divulgar uma vaga temporária na minha banda?</h5>
                <p>Acesse Vagas e divulgue a oportunidade.</p>

                <h5>7- Como faço para cadastrar um novo instrumento que aprendi a tocar?</h5>
                <p>Acesse o seu Perfil, clique na botão de Engrenagem, vá em Editar Perfil e inclua uma nova
                    habilidade. </p>

                <h5>8- Como faço para excluir um integrante da minha banda?</h5>
                <p> Acesse o seu Perfil da sua banda, clique na botão de Engrenagem, vá em Editar Perfil e
                    exclua o integrante. Você também pode adicionar novos integrantes no mesmo local!</p>

                <h5>9- Como faço para incluir um vídeo promocional da minha banda?</h5>
                <p>Você pode divulgar imagens e vídeos em seu Feed de notícias ou também pode incluir um vídeo
                    na sua área de Perfil. Acesse o seu Perfil da sua banda, clique no botão de Engrenagem, vá em Editar
                    Perfil e inclua um novo vídeo na área de Minha Música.</p>

                <h5>10- Como faço para gerenciar minha conta?</h5>
                <p>Para gerenciar sua conta acesse esse <a id="gerencie" href="/remover">link.</a></p>

            </section>
        </div>

        <footer>
            <ul class="list-unstyled mb-0">
                <li><a href="">Políticas</a> | <a href="/faleConosco"><strong>Fale Conosco</strong></a></li>
                <li>
                    <span class="copyright">Copyright &copy;
                        2020 -
                        <img src="img/icone.png" width="20">
                        Band+ by Group 1
                    </span>
                </li>
            </ul>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>

</html>