<%- include('./partials/header.ejs', { active: "Anuncie" , css: "anuncie.css"}) %>

    <!-- Publicar Produto -->
    <main class="container-anuncie">   
         <!-- Publicar Produtos -->
        <button type="button" class="publicarProduto" data-toggle="modal" data-target="#publicarNovoProduto"> 
            <div class="formulario-novo-produto">
                <h4>Publicar produto</h4>
                <img src="/img/icones/menu-999999.png" alt="menu" width="35">
            </div>
        </button>

        <div class="feed">
            <!-- Buscar Produto -->
            <section class="pesquisarProduto"> 
                <div class="formulario-pesquisar-produto">
                    <form action="">
                        <div class="mesmaLinha form-group">
                            <input type="buscarProduto" class="form-control" id="buscarProduto" placeholder="Buscar produto">
                            <button type="button" class="btn btn-Buscar">Buscar</button>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Feed Produto -->
            <section class="feedProduto"> 
                <div class="feedProduto-conteudo">
                    <div class="radio-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio7" name="customRadio3" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio7">Feed de Produtos</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio8" name="customRadio3" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio8">Meus Produtos</label>
                        </div>
                    </div>

                    <div class="conteudoProduto">
                        <div class="conteudoProdutoDiv">
                            <div class="conteudoProdutoInfoImg">
                                <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                            </div>
                            <div class="conteudoProdutoInfo">
                                <h5>Exemplo - Feed de Produtos</h5>
                                <div class="conteudoProdutoInfo2">
                                    <p>R$ .00</p>
                                    <p>Local</p> 
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper malesuada nisl, vel cursus ipsum semper at. Cras tortor ante, rhoncus ut placerat in, mollis a odio. Suspendisse porttitor.</p>  
                                <a href="">Link do usuário para contato</a>                          
                            </div>
                        </div>
                    </div>
                    <button type="button" class="conteudoMeuProduto" data-toggle="modal" data-target="#editarProduto">
                        <div class="conteudoMeuProdutoDiv">
                            <div class="conteudoMeuProdutoInfoImg">
                                <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                            </div>
                            <div class="conteudoMeuProdutoInfo">
                                <h5>Exemplo - Meus Produtos</h5>
                                <div class="conteudoMeuProdutoInfo2">
                                    <p>R$ .00</p> 
                                    <p>Local</p>
                                </div> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper malesuada nisl, vel cursus ipsum semper at. Cras tortor ante, rhoncus ut placerat in, mollis a odio. Suspendisse porttitor.</p> 
                            </div>
                        </div>
                    </button>

                    <div class="conteudoProduto">
                        <div class="conteudoProdutoDiv">
                            <div class="conteudoProdutoInfoImg">
                                <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                            </div>
                            <div class="conteudoProdutoInfo">
                                <h5>Exemplo - Feed de Produtos</h5>
                                <div class="conteudoProdutoInfo2">
                                    <p>R$ .00</p>
                                    <p>Local</p> 
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper malesuada nisl, vel cursus ipsum semper at. Cras tortor ante, rhoncus ut placerat in, mollis a odio. Suspendisse porttitor.</p> 
                                <a href="">Link do usuário para contato</a>                          
                            </div>
                        </div>
                    </div>
                    <button type="button" class="conteudoMeuProduto" data-toggle="modal" data-target="#editarProduto">
                        <div class="conteudoMeuProdutoDiv">
                            <div class="conteudoMeuProdutoInfoImg">
                                <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                            </div>
                            <div class="conteudoMeuProdutoInfo">
                                <h5>Exemplo - Meus Produtos</h5>
                                <div class="conteudoMeuProdutoInfo2">
                                    <p>R$ .00</p> 
                                    <p>Local</p>
                                </div> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper malesuada nisl, vel cursus ipsum semper at. Cras tortor ante, rhoncus ut placerat in, mollis a odio. Suspendisse porttitor.</p> 
                            </div>
                        </div>
                    </button>

                    <div class="conteudoProduto">
                        <div class="conteudoProdutoDiv">
                            <div class="conteudoProdutoInfoImg">
                                <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                            </div>
                            <div class="conteudoProdutoInfo">
                                <h5>Exemplo - Feed de Produtos</h5>
                                <div class="conteudoProdutoInfo2">
                                    <p>R$ .00</p>
                                    <p>Local</p> 
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper malesuada nisl, vel cursus ipsum semper at. Cras tortor ante, rhoncus ut placerat in, mollis a odio. Suspendisse porttitor.</p> 
                                <a href="">Link do usuário para contato</a>                          
                            </div>
                        </div>
                    </div>
                    <button type="button" class="conteudoMeuProduto" data-toggle="modal" data-target="#editarProduto">
                        <div class="conteudoMeuProdutoDiv">
                            <div class="conteudoMeuProdutoInfoImg">
                                <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                            </div>
                            <div class="conteudoMeuProdutoInfo">
                                <h5>Exemplo - Meus Produtos</h5>
                                <div class="conteudoMeuProdutoInfo2">
                                    <p>R$ .00</p> 
                                    <p>Local</p>
                                </div> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper malesuada nisl, vel cursus ipsum semper at. Cras tortor ante, rhoncus ut placerat in, mollis a odio. Suspendisse porttitor.</p> 
                            </div>
                        </div>
                    </button>

                    <div class="botao">
                        <button type="button" class="btn btn-mais">+ Produtos</button>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Modal - Publicar Produto -->
    <div class="modal fade" id="publicarNovoProduto" tabindex="-1" role="dialog" aria-labelledby="modalPublicarNovoProduto" aria-hidden="true">
        <div id="modalPublicar" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Publicar novo produto</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            </div>
            <div class="container">
                <div class="modal-body row" id="publicarNovoProduto2">
                    <form class="card col-lg-5 col-md-5 col-12" id="imgProduto" action="" method="POST">
                        <img class="avatar" src="/img/icones/imgEditar.png" alt="Foto do Produto">
                        <div id="escolherImg" class="modal-body">
                            <div class="form-group">
                                <label for="formControlFileImg">Escolha uma imagem</label>
                                <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*">
                            </div>
                        </div>
                    </form>
                    <form class="col-lg-7 col-md-7 col-12" id="dadosProduto" action="" method="POST">
                        <div class="form-group">
                            <input type="títuloNovoProduto" class="form-control" id="títuloNovoProduto" placeholder="Título do produto">
                        </div>
                        <div class="form-group">
                            <input type="localNovoProduto" class="form-control" id="localNovoProduto" placeholder="Local">
                        </div>
                        <div id="dinheiro" class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Quantia">
                            <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        <div class="form-group" id="descriçãoNovoProdutoDiv">
                            <textarea class="form-control" id="descriçãoNovoProduto" rows="5" placeholder="Descrição do produto"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-Publicar">Publicar</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal - Editar produto -->
    <div class="modal fade" id="editarProduto" tabindex="-1" role="dialog" aria-labelledby="modalEditarProduto" aria-hidden="true">
        <div id="modalPublicarEditar" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Editar produto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                </div>
                <div class="container">
                    <div class="modal-body row" id="publicarNovoProduto2Editar">
                        <form class="card col-lg-5 col-md-5 col-12" id="imgProdutoEditar" action="" method="POST">
                            <img class="avatar" src="/img/icones/imgEditar.png" width="230" alt="Foto do Produto">
                            <div id="escolherImgEditar" class="modal-body">
                                <div class="form-group">
                                    <label for="formControlFileImg">Escolha uma imagem</label>
                                    <input type="file" class="form-control-file" id="formControlFileImgEditar" accept="image/*">
                                </div>
                            </div>
                        </form>
                        <form class="col-7 col-lg-7 col-md-7 col-12" id="dadosProdutoEditar" action="" method="POST">
                            <div class="form-group" id="títuloNovoProdutoEditarDiv">
                                <textarea class="form-control" id="títuloNovoProdutoEditar" rows="1">Título do produto editar</textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="localNovoProdutoEditar" rows="1">Local editar</textarea>
                            </div>
                            <div id="dinheiroEditar" class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                                </div>
                                <textarea type="text" class="form-control" aria-label="Quantia">100</textarea>
                                <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="descriçãoNovoProdutoEditar" rows="5">Descrição do produto editar</textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="" method="POST">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-Salvar">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>