<%- include('./partials/header.ejs', { active: "BatePapo", css: "bate-papo.css"}) %>

        <div class="papo-container container">
            <div class="row">
                <div class="col-md-4">
        
        <!-- Grupo Pesquisar -->
                    <section id="pesquisar" class="card-papo">
                        <div class="media">
                            <img src="/img/teste/jane.jpg" alt="Jane Doe" class="avatar">
                            <h4>Bate-papo</h4>
                        </div>
                        <form action="" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputPesquisar" placeholder="Pesquisar">
                            </div>
                        </form>
                    </section>
    
        <!-- Grupo Msg Antigas -->
                    <section id="msgAntigas" class="card-papo">
                        <div class="scroll">
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Mari Moreira</h5>
                                        <small>Quando a quarentena acabar...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>André Ferreira</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>July Doe</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Os Farofeiros</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Mari Moreira</h5>
                                        <small>Quando a quarentena acabar...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>André Ferreira</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>July Doe</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Os Farofeiros</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
    
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Mari Moreira</h5>
                                        <small>Quando a quarentena acabar...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>André Ferreira</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>July Doe</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Os Farofeiros</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
    
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Mari Moreira</h5>
                                        <small>Quando a quarentena acabar...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>André Ferreira</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>July Doe</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="media">
                                    <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Os Farofeiros</h5>
                                        <small>Última mensagem...</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </section>

                    <!-- Grupo Msg Antigas - Mobile -->
                    <section id="msgAntigasMobile" class="card-papo">
                        <div class="scroll">
                            <a href="conversa-mobile.html">
                                <div class="media">
                                    <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                    <div class="media-body">
                                        <h5>Mari Moreira</h5>
                                        <small>Quando a quarentena acabar...</small>
                                    </div>
                                </div>
                            </a>
    
                            <div class="media">
                                <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>André Ferreira</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>July Doe</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>Os Farofeiros</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>Mari Moreira</h5>
                                    <small>Quando a quarentena acabar...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>André Ferreira</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>July Doe</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>Os Farofeiros</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>Mari Moreira</h5>
                                    <small>Quando a quarentena acabar...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>André Ferreira</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>July Doe</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user4.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>Os Farofeiros</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user1.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>Mari Moreira</h5>
                                    <small>Quando a quarentena acabar...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user2.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>André Ferreira</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
    
                            <div class="media">
                                <img src="/img/teste/new_user3.png" alt="John Doe" class="avatar">
                                <div class="media-body">
                                    <h5>July Doe</h5>
                                    <small>Última mensagem...</small>
                                </div>
                            </div>
                        </div>
                    </section>
    
                </div>
    
                <div class="col-md-8">
    
        <!-- Grupo Conversa -->
                    <section id="conversa" class="card-papo">
                        <div class="media header">
                            <img class="avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                            <h5>Mari Moreira</h5>
                        </div>
    
                        <div class="scroll">
                            <small>14/03/2020</small>
                            <p class="user card-papo">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aperiam assumenda sed,
                                commodi fugit consectetur laudantium in velit iusto tenetur nemo possimus recusandae dolorum
                                quas sapiente, animi eaque! At, et!
                            </p>
                            <div class="friend media">
                                <img class="avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                                <p class="card-papo">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit.
                                </p>
                            </div>
                            <p class="user card-papo">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit.
                            </p>
                            <div class="friend media">
                                <img class="avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                                <p class="card-papo">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta exercitationem
                                    necessitatibus,
                                    eius consequuntur quo debitis cum in sit. Impedit similique facilis modi aliquid illo
                                    nam
                                    nesciunt provident accusamus hic dolore. Sit culpa vero atque aliquam cum tempora
                                    excepturi modi
                                    esse quod eos. Incidunt expedita accusantium et. Placeat harum commodi possimus!
                                </p>
                            </div>
                            <p class="user card-papo">
                                Lorem, ipsum.
                            </p>
                            <small>18/03/2020</small>
                            <div class="friend media">
                                <img class="avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                                <p class="card-papo">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit.
                                </p>
                            </div>
                            <p class="user card-papo">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit.
                            </p>
                            <div class="friend media">
                                <img class="avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                                <p class="card-papo">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nulla
                                    necessitatibus,
                                    debitis itaque voluptas tempore perspiciatis consectetur fugit nostrum. Earum repellat
                                    aspernatur quisquam delectus quam?
                                </p>
                            </div>
                            <small>hoje</small>
                            <p class="user card-papo">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus aperiam assumenda sed,
                                commodi fugit consectetur laudantium in velit iusto tenetur nemo possimus recusandae dolorum
                                quas sapiente, animi eaque! At, et!
                            </p>
                            <div class="friend media">
                                <img class="avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                                <p class="card-papo">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit.
                                </p>
                            </div>
                            <p class="user card-papo">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit.
                            </p>
                        </div>
    
                        <div class="mensagem">
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="/img/icones/icon_image.svg" alt="Imagem">
                                </label>
                                <input type="file" id="file-input" accept="image/*">
                            </div>
    
                            <form action="" method="POST">
                                <div class="form-group">
                                    <textarea class="form-control" id="inputBio" rows="1"
                                        placeholder="Digite uma mensagem..."></textarea>
                                    <button class="btn">
                                        <img src="/img/icones/icon_send.svg" alt="Enviar">
                                    <button>                            
                                </div>
                            </form>
                        </div>
                    </section>
    
                </div>
    
            </div>
        </div>
    
<%- include('./partials/footer.ejs') %>