<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fale Conosco</title>
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/geral.css">
    <link rel="stylesheet" href="/stylesheets/fale-conosco.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>

<body>
    <div class="fale-conosco">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand-lg">
                    <div class="topbar-mobile">
                        <a class="navbar-brand" 
                        <% if (!usuario) { %>
                            href="/?error=2"
                        <% } else {%>
                            href="/home"
                        <% } %>
                        >
                        <img src="/img/logo_5000x1500.png" alt="Band+">     
                        </a>     
                    </div>
                </nav>
            </div>
        </header>
    
        <div class="fale-container">

            <% if (errors.length) { %>
                <div class="alert alert-danger" role="alert">
                    <h5>Não é possível enviar a mensagem...</h5>
                    <hr>
                    <ul class="error">
                        <% for( let i = 0; i < errors.length; i++ ) { %>
                            <li>- <%= errors[i].msg %>  </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
            
            <div class="fale-container-header">
                <h4>Fale conosco</h4>
            </div>
            <form action="/faleConosco" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="nome-contato" name="nome" placeholder="Nome completo" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="email-contato" name="email" placeholder="E-mail para contato" required>
                </div>
                <div class="form-group">
                    <select class="form-control" id="selectAssunto" name="assunto" required>
                        <option disabled selected>Escolha um Assunto</option>
                        <option value="Problema com cadastro">Problema com cadastro</option>
                        <option value="Alterar a senha">Alterar a senha</option>
                        <option value="Problema com acesso à minha conta">Problema com acesso à minha conta</option>
                        <option value="Problemas técnicos relacionado com envio de arquivo">Problemas técnicos relacionado com envio de arquivo</option>
                        <option value="Denunciar uma publicação ou conteúdo indevido">Denunciar uma publicação ou conteúdo indevido</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="mensagem-contato" rows="5" name="mensagem" placeholder="Mensagem" required></textarea>
                </div>
                <div class="button-submit">
                    <button type="submit" class="btn btn-salvar">Enviar</button>
                </div>
            </form>
        </div>
    
    
    
        <!-- Footer -->
        <footer>
            <ul class="list-unstyled mb-0">
                <li><a href="">Políticas</a> | <a href=""><strong>Fale Conosco</strong></a></li>
                <li>
                    <span class="copyright">Copyright &copy;
                        2020 -
                        <img src="/img/icone.png" width="20">
                        Band+ by Group 1
                    </span>
                </li>
            </ul>
        </footer>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>