<%- include('./partials/header.ejs', { active: "Home" , css: "feed.css"}) %>

    <div class="feed-container container">
        <div class="row">
            <div class="col-md-3">
    <!-- Grupo User Card -->
                <section id="userCard" class="card-feed">
                    <div class="user-info">
                        <div class="avatar-content">
                            <a href="perfil-musico.html">
                                <img class="avatar" src="/img/teste/jane.jpg" alt="Avatar">
                            </a>
                        </div>
                        <h5>Jane Doe</h5>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="media divisoria">
                                    <img src="/img/icones/icon_star.svg" alt="Seguidores">
                                    <div class="media-body">
                                        <p>12 M</p>
                                        <small>Seguidores</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="media">
                                    <img src="/img/icones/icon_headset.svg" alt="Seguindo">
                                    <div class="media-body">
                                        <p>250</p>
                                        <small>Seguindo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="feed-user.html">Minhas publicações</a>
                </section>

    <!-- Grupo New User -->            
                <section id="newUser" class="card-feed">
                    <h5><strong>Novos Usuários</strong></h5>
                    <div class="scroll">
                        <div class="media">
                            <a href="perfil-musico.html">
                                <img class="mini-avatar" src="/img/teste/new_user1.png" alt="Anne">
                                <p>Anne</p>
                            </a>
                            <a href=""><img src="/img/icones/icon_headset_border.svg" alt="Seguir" class="seguir"></a>
                        </div>
                        <div class="media">
                            <a href="">
                                <img class="mini-avatar" src="/img/teste/new_user2.png" alt="John Doe">
                                <p>John Doe</p>
                            </a>    
                            <a href=""><img src="/img/icones/icon_headset_border.svg" alt="Seguir" class="seguir"></a>
                        </div>
                        <div class="media">
                            <a href="">
                                <img class="mini-avatar" src="/img/teste/new_user3.png" alt="Maria">
                                <p>Maria</p>
                            </a>
                            <a href=""><img src="/img/icones/icon_headset_border.svg" alt="Seguir" class="seguir"></a>
                        </div>
                        <div class="media">
                            <a href="">
                                <img class="mini-avatar" src="/img/teste/new_user4.png" alt="Pedro">
                                <p>Pedro</p>
                            </a>
                            <a href=""><img src="/img/icones/icon_headset_border.svg" alt="Seguir" class="seguir"></a>
                        </div>
                    </div>
                </section>

    <!-- Rodapé -->          
                <div id="rodape">
                    <ul class="list-unstyled">
                        <li><a href="">Políticas</a> | <a href="/faleConosco"><strong>Fale Conosco</strong></a></li>
                        <li>
                            <span class="copyright">Copyright &copy;
                                2020 - Band+ by Group 1
                            </span>
                        </li>
                    </ul>
                </div> 
            </div>

            <div class="col-md-8">

    <!-- Grupo Publicar --> 
                <section id="publicar" class="card-feed">
                    <h4><strong>O que está rolando?</strong></h4>
                    <form action="" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" id="textareaPublicacao" rows="4" placeholder="Publique o que está acontecendo por aí!!"></textarea>
                        </div>
                        <div class="add">
                            <div class="image-upload">
                                <label for="file-input-img">
                                    <img src="/img/icones/icon_image.svg" alt="Imagem">
                                </label>
                                <input type="file" id="file-input-img" accept="image/*">
                            </div>
                            <div class="image-upload">
                                <label for="file-input-video">
                                    <i class="fas fa-film"></i>
                                </label>
                                <input type="file" id="file-input-video" accept="video/*" >
                            </div>
                            <button type="button" class="btn btn-salvar">Publicar</button>
                        </div>
                    </form>
                </section>
    
     <!-- Grupo Publicacao --> 
                <section id="publicacao">
                    <div class="card-feed">
                        <div class="media">
                            <a href="perfil-musico.html">
                                <img class="mini-avatar" src="/img/teste/new_user1.png" alt="Jane Doe">
                                <h5>Jane Doe</h5>
                            </a>
                        </div>
                        <img class="img-public" src="/img/teste/feed_img1.jpg" alt="Publicação">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In magnam, minus quidem quos necessitatibus quisquam a cupiditate consectetur ipsum mollitia delectus sequi numquam quia architecto provident amet ad? Aut, corrupti!Natus nostrum eveniet vero! Perspiciatis mollitia aperiam similique itaque perferendis aspernatur ducimus temporibus consectetur tempora architecto ullam deleniti culpa, obcaecati doloremque in facere? Cum expedita dolorem cumque fugiat repellat nihil.</p>
                        <div class="curtir">
                            <a href=""><img src="/img/icones/icon_star_border_fa.svg" alt="Curtir"></a>
                            <a href=""><img src="/img/icones/icon_comment.svg" alt="Comentar"></a>
                        </div>
                    </div>
                    <div class="card-feed">
                        <div class="media">
                            <a href="">
                                <img class="mini-avatar" src="/img/teste/new_user2.png" alt="Jane Doe">
                                <h5>Jane Doe</h5>
                            </a>
                        </div>
                        <img class="img-public" src="/img/teste/feed_img2.jpg" alt="Publicação">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In magnam, minus quidem quos necessitatibus quisquam a cupiditate consectetur ipsum mollitia delectus sequi numquam quia architecto provident amet ad? Aut, corrupti!Natus nostrum eveniet vero! Perspiciatis mollitia aperiam similique itaque perferendis aspernatur ducimus temporibus consectetur tempora architecto ullam deleniti culpa, obcaecati doloremque in facere? Cum expedita dolorem cumque fugiat repellat nihil.</p>
                        <div class="curtir">
                            <a href=""><img src="/img/icones/icon_star_border_fa.svg" alt="Curtir"></a>
                            <a href=""><img src="/img/icones/icon_comment.svg" alt="Comentar"></a>
                        </div>
                    </div>
                    <div class="card-feed">
                        <div class="media">
                            <a href="">
                                <img class="mini-avatar" src="/img/teste/new_user3.png" alt="Jane Doe">
                                <h5>Jane Doe</h5>
                            </a>
                        </div>
                        <img class="img-public" src="/img/teste/feed_img3.jpg" alt="Publicação">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In magnam, minus quidem quos necessitatibus quisquam a cupiditate consectetur ipsum mollitia delectus sequi numquam quia architecto provident amet ad? Aut, corrupti!Natus nostrum eveniet vero! Perspiciatis mollitia aperiam similique itaque perferendis aspernatur ducimus temporibus consectetur tempora architecto ullam deleniti culpa, obcaecati doloremque in facere? Cum expedita dolorem cumque fugiat repellat nihil.</p>
                        <div class="curtir">
                            <a href=""><img src="/img/icones/icon_star_border_fa.svg" alt="Curtir"></a>
                            <a href=""><img src="/img/icones/icon_comment.svg" alt="Comentar"></a>
                        </div>
                    </div>
                    <div class="card-feed">
                        <div class="media">
                            <a href="">
                                <img class="mini-avatar" src="/img/teste/new_user4.png" alt="Jane Doe">
                                <h5>Jane Doe</h5>
                            </a>
                        </div>
                        <img class="img-public" src="/img/teste/feed_img4.jpg" alt="Publicação">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In magnam, minus quidem quos necessitatibus quisquam a cupiditate consectetur ipsum mollitia delectus sequi numquam quia architecto provident amet ad? Aut, corrupti!Natus nostrum eveniet vero! Perspiciatis mollitia aperiam similique itaque perferendis aspernatur ducimus temporibus consectetur tempora architecto ullam deleniti culpa, obcaecati doloremque in facere? Cum expedita dolorem cumque fugiat repellat nihil.</p>
                        <div class="curtir">
                            <a href=""><img src="/img/icones/icon_star_border_fa.svg" alt="Curtir"></a>
                            <a href=""><img src="/img/icones/icon_comment.svg" alt="Comentar"></a>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

    <div class="edit">
        <div class="circle">
            <a href=""><i class="fas fa-pencil-alt"></i></i></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>