<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edição-Salva</title>
    <link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/feedback.css">
</head>

<body>
    <header class="fixed-top">
        <div class="nav-container">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="#"><img src="img/logo_5000x1500.png" alt="Band+"></a>
            </nav>
        </div>
    </header>

    <div class="container" id="msgFeedback">
        <div class="row">
            <img src="img/feedback_editar.svg" alt="" class="col-lg-5 col-sm-12">
            <div class="alert alert-success col-lg-6 col-sm-12" role="alert">
                <h3>Edição Salva</h3>
                <p>Alterações realizada com sucesso!!</p>
                <p>Continue explorando a sua rede...</p>
                <a href="perfil-musico.html"><button type="button" class="btn btn-salvar-modal">Voltar</button></a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <ul class="list-unstyled">
            <li><a href="">Políticas</a> | <a href="/faleConosco">"><strong>Fale Conosco</strong></a></li>
            <li>
                <span class="copyright">Copyright &copy;
                    2020 -
                    <img src="img/icone.png" width="20">
                    Band+ by Group 1
                </span>
            </li>
        </ul>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>