<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Músico</title>
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/geral.css">
    <link rel="stylesheet" href="/stylesheets/form-musico.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
        integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>

<body>
    <form class="form-musico" action="/cadastro/musico" method="POST">
        <header>
            <div class="nav-container">
                <nav class="navbar">
                    <a class="navbar-brand" href="#"><img src="/img/logo_5000x1500.png" alt="Band+"></a>
                    <button type="submit" class="btn btn-salvar">Cadastrar</button>
                </nav>
            </div>
        </header>

        <div class="cadastro-container container">

            <section class="row infos">
                <!-- LINHA 1 -->

                <div class="form-header" id="linha1">
                    <h4>Identificação</h4>
                </div>

                <div class="col-md-6 col-sm-12">
                    <!-- COLUNA ESQ [LINHA 1] -->
                    <div class="campo-form card-cadastro primeiraLinha">
                        <h5>Usuário</h5>
                        <div>
                            <div class="form-group">
                                <div class="col-md-8 col-sm-12">
                                    <input name="user" type="text" class="form-control" id="inputUser"
                                        placeholder="Digite o usuário" required>
                                </div>
                            </div>

                            <h5>Senha</h5>
                            <div class="form-group">
                                <div class="col-md-8 col-sm-12">
                                    <input name="password" type="password" class="form-control" id="inputPassword"
                                        placeholder="Senha de 6 dígitos" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-sm-12">
                    <!-- COLUNA DIR [LINHA 1] -->
                    <div class="campo-form card-cadastro primeiraLinha">
                        <h5>E-mail</h5>
                        <div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="email" class="form-control" name="email" id="iEmail" maxlength="50"
                                        placeholder="Digite um e-mail válido" required="required">
                                </div>
                            </div>
                            <h5>Sexo</h5>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="radio-group">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="gender" id="iFem"
                                                value="F" checked="checked">
                                            <label class="custom-control-label" for="iFem">Feminino</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="gender" id="iMasc"
                                                value="M">
                                            <label class="custom-control-label" for="iMasc">Masculino</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="gender" id="iOutro"
                                                value="O">
                                            <label class="custom-control-label" for="iOutro">Outro</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </section>

            <section class="row infos" id="informacao"><!-- LINHA 2-->

                <div class="form-header" id="linha1">
                    <h4>Informações do usuário</h4>
                </div>

                <div class="col-md-7 col-sm-12"> <!-- COLUNA ESQ [LINHA 2] -->
                    <div class="campo-form card-cadastro primeiraLinha">
                        <h5>Sobre mim</h5>
                        <div>
                            <div class="form-group">
                                <div class="col-md-11 col-sm-12">
                                    <textarea name="bio" class="form-control" id="inputSobre" rows="10"
                                        placeholder="Conte mais sobre você!"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-12">  <!-- COLUNA DIR [LINHA 2] -->

                    <div class="campo-form card-cadastro primeiraLinha">
                        <h5>Localização</h5>
                        <div class="campo-form card-cadastro">
                            <div>
                                <div class="form-group row">
                                    <label for="inputEstado" class="col-xl-2 col-lg-2 col-form-label">Estado</label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input name="estado" type="text" class="form-control" id="iEstado" size="30"
                                        maxlength="30" placeholder="Digite seu estado" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputCidade" class="col-xl-2 col-lg-2 col-form-label">Cidade</label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input name="cidade" type="text" class="form-control" id="iCidade" size="30"
                                        maxlength="30" placeholder="Digite sua cidade" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="campo-form card-cadastro primeiraLinha">
                        <h5>Contatos</h5>
                        <div class="campo-form card-cadastro">
                            <div>
                                <div class="form-group row">
                                    <label for="inputSite" class="col-xl-2 col-lg-2 col-form-label">Site</label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input name="site" type="text" class="form-control" id="inputSite"
                                            placeholder="Digite seu site">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputCanal" class="col-xl-2 col-lg-2 col-form-label">Canal</label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input name="canal" type="text" class="form-control" id="inputCanal" size="30"
                                        maxlength="30" placeholder="Digite seu canal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="campo-form card-cadastro primeiraLinha">
                            <div id="hability-box">
                                <label id="hability-label" for="group">Habilidades</label>
                                <span class="d-inline-block" data-toggle="popover" data-placement="bottom" disabled title="Acesse seu perfil" data-content="Após o cadastro, acesse seu perfil e inclua mais habilidades. Lá você também encontra opções para deixar seu perfil ainda mais atrativo!">
                                    <button class="btn btn-primary" style="pointer-events: none;" type="button" ></button>
                                  </span>
                            </div>
                        <div class="campo-form card-cadastro">                                                     
                                   
                            <div class="habilidades-group">
                                <div class="form-area">
                                    <div class="header-habilidades">
                                        <div class="form-check form-check-inline">
                                            <input name="canto" class="form-check-input" type="checkbox" id="iCanto"
                                                value="1">
                                            <label class="form-check-label" for="iCanto"><span></span>Canto</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input name="toco" class="form-check-input" type="checkbox" id="iToco"
                                                value="1" data-toggle="collapse" data-target="#collapseInstrument" aria-expanded="false" aria-controls="collapseInstrument">
                                            <label class="form-check-label" for="iToco"><span></span>Toco</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input name="tecnico" class="form-check-input" type="checkbox" id="iTecnico"
                                                value="1" data-toggle="collapse" data-target="#collapseTecnico" aria-expanded="false" aria-controls="collapseTecnico">
                                            <label class="form-check-label" for="iTecnico"><span></span>Técnico</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-area">
                                    <div class="collapse" id="collapseInstrument">
                                        <div class="form-group row">
                                            <label for="inputInstrumento" class="col-xl-3 col-lg-3 col-form-label">Instrumento</label>
                                            <div class="col-xl-8 col-lg-8">
                                                <input name="instrument" type="text" class="form-control" id="inputInstrumento" size="30"
                                                maxlength="30" placeholder="Digite o instrumento">
                                            </div>
                                        </div>
                                    </div>                                           

                                    <div class="collapse" id="collapseTecnico">
                                        <div class="form-group row" id="semMg">
                                            <label for="inputTecnico" class="col-xl-3 col-lg-3 col-form-label">Técnico</label>
                                            <div class="col-xl-8 col-lg-8">
                                                <input name="technicalSkill" type="text" class="form-control" id="inputTecnico" size="30"
                                                maxlength="30" placeholder="Digite a habilidade">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                               
                                           
                        </div>
                    </div>
                </div>

            </section>
            

        </div>

        <footer>
            <ul class="list-unstyled mb-0">
                <li><a href="">Políticas</a> | <a href="fale-conosco.html"><strong>Fale Conosco</strong></a></li>
                <li>
                    <span class="copyright">Copyright &copy;
                        2020 -
                        <img src="/img/icone.png" width="20">
                        Band+ by Group 1
                    </span>
                </li>
            </ul>
        </footer>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
            container: 'body'
        })
    </script>
</body>

</html>