<%- include('./partials/header.ejs', { active: "Perfil" , css: "perfil-musico.css"}) %>

    <div class="perfil-container">
        
    <!-- Grupo Head -->
        <section id="head" class="card-perfil">
            <div class="head-fundo">
                <img src="/img/teste/fundo.png" alt="Foto de fundo" class="wallpaper">    
            </div>

            <div class="avatar-content">
                <img src="/img/teste/jane.jpg" alt="Foto de Perfil" class="avatar">
            </div>
            <div class="info-user">
                <h3><strong>Jane Doe</strong></h3>
                <div class="info-user-status">
                    <div class="media">
                        <img src="/img/icones/icon_star.svg">
                        <p>Seguidores: 12M</p>
                    </div>
                    <div class="media">
                        <img src="/img/icones/icon_headset.svg">
                        <p>Seguindo: 250</p>
                    </div>
                </div>
            </div>
            <div class="config">
                <button type="button" class="btn-config dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="perfil-musico-editar.html">
                        <h4>Editar Perfil</h4>
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#alterarSenha" href="#">
                        <h4>Alterar Senha</h4>
                    </a>
                </div>
            </div>
        </section>

    <!-- Grupo Bio -->
        <section id="bio" class="card-perfil">

            <h4><strong>Sobre mim</strong></h4>
            <div class="bio-scroll">
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, magni officia. Corrupti soluta, ipsa ea assumenda excepturi optio ut quae fugiat cupiditate debitis eveniet dolorem cum iusto quos accusantium consequatur reprehenderit sapiente repellat veniam rem. Nihil aliquam minima inventore modi, reprehenderit veniam at, nesciunt beatae officiis recusandae temporibus hic nulla ab nisi quaerat? Deserunt, harum tempora? Est sit voluptatem vel placeat nulla. Repellat minima alias qui nostrum facilis autem! Omnis ipsa facilis voluptas ea fugiat fugit, optio illum, rerum ducimus vitae, aliquid doloremque tempore quo. Voluptas, totam necessitatibus. Id distinctio quo mollitia minima inventore deleniti assumenda dolores ducimus laboriosam quod ratione temporibus iusto dolor aut eveniet eaque officiis, accusamus deserunt. Culpa eligendi rerum temporibus in adipisci iste, facilis dolorum corporis nostrum totam vitae nisi, voluptatem dolorem ipsum animi natus maiores commodi aperiam? Sequi aliquid rerum officia molestias tempore consequatur assumenda natus inventore cupiditate nihil. Deleniti aliquam quaerat assumenda dignissimos adipisci expedita quidem molestiae consequuntur iusto minus. Enim optio accusantium aliquid magni ab cupiditate veritatis similique labore iusto nobis dolorem, at doloribus vero sunt quam quisquam ratione sed dolores corporis dignissimos doloremque quibusdam! Repudiandae impedit accusantium beatae, quae, nemo illum praesentium aut maxime labore ad quibusdam quisquam quos cupiditate temporibus! Et!
                </p>
            </div>

        </section>

        <div class="container habil-info">
            <div class="row">

    <!-- Grupo Habilidades -->
                <div class="hab col-lg-6 col-md-12">
                    <section id="habilidades" class="card-perfil">
                        <h4><strong>Habilidades</strong></h4>
                        <div class="scroll">
                            <div class="item row">
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/cantar-01.png" alt="Canto">
                                    <p>Canto</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/tocar-01.png" alt="Toco">
                                    <p>Violão</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/tocar-01.png" alt="Toco">
                                    <p>Teclado</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Iluminação de palco</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Equipamentos de som</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Edição de vídeo</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Gravação</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Equipamentos de som</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Edição de vídeo</p>
                                </div>
                                <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                    <img src="/img/icones/palco-01.png" alt="Técnico">
                                    <p>Gravação</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

    <!-- Grupo Infos -->
                <div class="info col-lg-6 col-md-12">
                    <section id="infos" class="card-perfil">
                        <h4><strong>+ Infos</strong></h4>
                        <div class="infos-item media">
                            <img src="/img/icones/pin-01.png" alt="Local">
                            <p>São Paulo / SP</p>
                        </div>
                        <div class="infos-item media">
                            <img src="/img/icones/site-01.png" alt="Site">
                            <p>https://lorem.ipsum</p>
                        </div>
                        <div class="infos-item media">
                            <img src="/img/icones/canal-01.png" alt="Canal">
                            <p>JaneeeeD</p>
                        </div>
                        <div class="infos-item media">
                            <img src="/img/icones/email-01.png" alt="Email">
                            <p>jane.doe@email.com</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    <!-- Grupo Minha Música -->
        <section id="minhaMusica" class="card-perfil">
            <h4><strong>Minha música</strong></h4>            
            <div class="row">
                <div class="musica-item col-xl-6 col-sm-12">
                    <video controls>
                        <source src="video/video1.mp4" type="video/mp4">
                        <source src="video/video1.ogg" type="video/ogg">
                        <p>Seu browser não suporta este recurso</p>
                    </video>
                    <h5>Sweet Child O' Mine - Guns n’ Roses (Cover by First To Eleven)</h5>
                </div>
                <div class="musica-item col-xl-6 col-sm-12">
                    <iframe src="https://www.youtube.com/embed/5_e-Hvg57cA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h5>Metalica</h5>
                </div>
                <div class="musica-item col-xl-6 col-sm-12">
                    <div class="player">
                        <audio controls>
                            <source src="video/audio1.mp3" type="audio/mpeg">
                            <source src="video/audio1.ogg" type="audio/ogg">
                            <p>Seu browser não suporta este recurso</p>
                        </audio>
                    </div>
                    <h5>Canon Rock - Jerry C cover by Laura</h5>
                </div>
                <div class="musica-item col-xl-6 col-sm-12">
                    <iframe scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/100339982&color=%23fb3c00&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <h5>Always - Bon Jovi - piano cover</h5>
                </div>
                <div class="musica-item col-xl-6 col-sm-12">
                    <div class="player">
                        <audio controls>
                            <source src="video/audio2.mp3" type="audio/mpeg">
                            <source src="video/audio2.ogg" type="audio/ogg">
                            <p>Seu browser não suporta este recurso</p>
                        </audio>
                    </div>
                    <h5>Always - Bon Jovi - piano cover</h5>
                </div>
                <div class="musica-item col-xl-6 col-sm-12">
                    <iframe scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/499505559&color=%23fb3c00&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <h5>Gucci Mane</h5>
                </div>
            </div>

            <div class="carregar">
                <button type="button" class="btn btn-carregar">Carregar + Músicas</button>
            </div>
        </section>
    </div>

    
    
    <!-- Modal -->
    <!-- Aterar Senha -->
    <div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAlterarSenha">Alterar a senha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="senhaAtual">Senha atual</label>
                            <input type="password" class="form-control" id="senhaAtual" aria-describedby="passwordHelp"
                            placeholder="Senha">
                            <small id="passwordHelp" class="form-text text-muted"><a href="">Esqueceu a senha?</a></small>
                        </div>
                        <div class="form-group">
                            <label for="novaSenha">Nova senha</label>
                            <input type="password" class="form-control" id="novaSenha" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label for="confirmarSenha">Confirme a nova senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Senha">
                        </div>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-salvar-modal">Alterar senha</button>
                </div>
                
            </div>

        </div>
    </div>

<%- include('./partials/footer.ejs') %>